// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.image{
  width:200px;
  height:200px;
  margin:0 100px 50px 100px;
}
h1{
  color:green;
  margin:0 100px 0 100px;
}
.photo{
  border: 1px solid red;
  
}